.container {
  background-color: green;
  margin: 10px;
  padding: 10px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.item {
  background-color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#item1 {
/*   flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 0; */
  flex: 1 0 100px; /* grow shrink basis */
  align-self: center;
}

#item2 {
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 1;
}

#item3 {
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 5;
}