.myPara {
  letter-spacing: 1px;
  line-height: 2em;
  text-align: justify;
  width: 90%;
  
  /* border */
  border-width: 1px;
  border-style: solid;
  border-color: red;
  
  border-bottom: 5px solid red;

  /*same as aboe */
  border: 5px solid red;
  
  /*padding */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  
  /*same as above */
  padding: 15px 20px 15px 20px;
  padding: 15px 20px;
  
  /* margin */
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
  
  /*same as aboe */
  margin: 25px 20px 25px 20px;
  margin: 25px 20px;
}